@model IEnumerable<LUMOSBook.Models.Book>

@{
    ViewData["Title"] = "Index Book";
    Layout = "_StoreOwnerLayout";
}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li class="active"><a href="/Books/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Book</a></li>

            <li class=""><a href="/Authors/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Author</a></li>

            <li class=""><a href="/Publishers/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Publishsher</a></li>

            <li class=""><a href="/Order/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Order</a></li>

            <li class=""><a href="/Categories/Index"><em class="fa fa-dashboard">&nbsp;</em>Manage
                    Category</a>
            </li>
            <br><br><br><br><br><br><br><br>

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nnav-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <h2>Book's Information</h2>
    <hr>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <form asp-controller="Books" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" placeholder="Search By Title" />
            <input class="btn btn-warning" type="submit" value="Search" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poster)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    &ensp;Edit &ensp;&ensp; Details &ensp; Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Name)
                    </td>
                    <td>
                        <img src="~/uploads/@Html.DisplayFor(modelItem => item.Poster)" width="200" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-success"><span
                                class="material-symbols-outlined"> edit</span></button></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info"><span
                                class="material-symbols-outlined">visibility</span></button></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger"><span
                                class="material-symbols-outlined">delete</span></button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>