@model IEnumerable<LUMOSBook.Models.Publisher>

@{
    ViewData["Title"] = "Index Publisher";
    Layout = "_StoreOwnerLayout";
}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li class=""><a href="/Books/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Book</a></li>

            <li class=""><a href="/Authors/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Author</a></li>

            <li class="active"><a href="/Publishers/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage
                    Publishsher</a></li>

            <li class=""><a href="/Order/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Order</a></li>

            <li class=""><a href="/Categories/RequestCategory"><em class="fa fa-dashboard">&nbsp;</em>Request Category</a>
            </li>
            <br><br><br><br><br><br><br><br>

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nnav-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <h2>Publisher's Information</h2>
    <hr>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    &ensp;Edit &ensp;&ensp; Details &ensp;  Delete

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-success"><span class="material-symbols-outlined" > edit</span></button></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info"><span class="material-symbols-outlined">visibility</span></button></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>